<div class="d-flex flex-wrap container" style="min-height: 800px;">
  <div class="m-auto d-flex flex-column">
    <h2 class="m-auto mb-3 text-warning text-success">Welcome to routing demo app !</h2>
    <div class="m-auto">
      <button class="btn btn-primary my-5" [routerLink]="['/login']">Login</button>
      <span class="mx-4">OR</span>
      <a [routerLink]="['/posts']">Discover app without login</a>
    </div>
  </div>
  <img src="../../assets/giphy-welcome.gif" alt="welcome" width="600" class="m-auto" />
</div>;
