<nav class="navbar navbar-light navbar-expand-md p-3 font-weight-bold" style="background-color: #e3f2fd;">
    <a class="navbar-brand mr-5 text-bold">ROUTING TO PRO</a>
  
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2 px-3">
            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['bg-primary', 'text-white']">Home</a>
          </li>
        <li class="nav-item mx-2 px-3">
          <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['bg-primary', 'text-white']">Users</a>
        </li>
        <li class="nav-item mx-2 px-3">
          <a class="nav-link" [routerLink]="['/posts']" [routerLinkActive]="['bg-primary', 'text-white']">Posts </a>
        </li>
  
      </ul>
      <h6 class="my-auto">{{ (loginUser$ | async)?.name}}</h6>
     <button 
        class="btn btn-outline-success my-2 my-sm-0 mr-5 ml-2" 
        [ngClass]="(loginUser$ | async)?.id ? 'btn-outline-danger' : 'btn-outline-success'" 
        [routerLink]="['/login']" >
       {{ (loginUser$ | async)?.id ? "Log out" : "Login"}}
    </button>
     <button class="btn my-2 my-sm-0 mr-5" *ngIf="(loginUser$ | async)?.id" [routerLink]="[{ outlets: { sidebar: ['todos'] } }]" >My Todos</button>
    </div>
  </nav>
